[submodule "client/go"]
	path = client/go
	url = git@github.com:mirasoth/soothe-client-go.git
[submodule "client/typescript"]
	path = client/typescript
	url = git@github.com:mirasoth/soothe-client-typescript.git
[submodule "client/python"]
	path = client/python
	url = git@github.com:mirasoth/soothe-client-python.git
[submodule "client/rust"]
	path = client/rust
	url = git@github.com:mirasoth/soothe-client-rust.git
[submodule "packages/soothe-sdk"]
	path = packages/soothe-sdk
	url = git@github.com:mirasoth/soothe-sdk.git
[submodule "packages/soothe-nano"]
	path = packages/soothe-nano
	url = git@github.com:mirasoth/soothe-nano.git
