[submodule "client/go"]
	path = client/go
	url = git@github.com:mirasoth/soothe-client-go.git
[submodule "client/typescript"]
	path = client/typescript
	url = git@github.com:mirasoth/soothe-client-typescript.git
[submodule "community"]
	path = community
	url = git@github.com:mirasoth/soothe-community
